<div class="nav-items">
  <div class="nav-item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span><a routerLink="/voyages-list">Gestion des voyages</a></span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faLocation"></fa-icon>
    <span>Gesion des paiement</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faShop"></fa-icon>
    <span>Gestion des reservations</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faMoneyBill"></fa-icon>
    <span>Gestion des rerervations</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faChartBar"></fa-icon>
    <span>Statistics</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faContactBook"></fa-icon>
    <span>Contact</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faHand"></fa-icon>
    <span>Help</span>
  </div>
</div>
